*.db
*.i64
*.o
*.so
*.swp
.gdb_history
build/*
data/*
obj-intel64/*
peda-session*
pin.log
pintool.log
private/*
triton
tritonAttach
www/*
doc/*
src/examples/cpp/*.bin
src/libtriton/includes/version.hpp
src/libtriton/os/unix/syscalls.cpp
src/libtriton/os/unix/syscalls32.cpp
src/libtriton/os/unix/syscalls64.cpp
triton.egg-info/*
dist/*
