name: Build Python Package

on: [push, pull_request, workflow_dispatch]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        include:
          - python-version: 3.8
            pycp: cp38-cp38
          - python-version: 3.9
            pycp: cp39-cp39
          - python-version: 3.10
            pycp: cp310-cp310
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip version
        run: |
          python${{ matrix.python-version }} -m pip install -U pip

      - name: Install build package
        run: |
          python${{ matrix.python-version }} -m pip install build

      - name: Install dependencies
        run: |
          sudo apt-get install python-setuptools

      - name: Download and build GMP
        run: |
          wget https://gmplib.org/download/gmp/gmp-6.2.1.tar.xz
          tar xvf gmp-6.2.1.tar.xz
          cd gmp-6.2.1/
          ./configure --with-pic
          make
          make check

      - name: Download and build Bitwuzla
        run: |
          git clone https://github.com/bitwuzla/bitwuzla.git
          cd bitwuzla
          ./contrib/setup-cadical.sh
          ./contrib/setup-btor2tools.sh
          ./contrib/setup-symfpu.sh
          CMAKE_OPTS="-DCMAKE_POSITION_INDEPENDENT_CODE=ON" ./configure.sh --prefix $(pwd)/install
          cd build
          make
          cd lib
          ar cqT libbitwuzlam.a libbitwuzla.a ../../deps/install/lib/libbtor2parser.a ../../deps/cadical/build/libcadical.a ../../../gmp-6.2.1/.libs/libgmp.a && echo -e 'create libbitwuzlam.a\naddlib libbitwuzlam.a\nsave\nend' | ar -M
          mv libbitwuzlam.a libbitwuzla.a
          cd ..
          make install

      - name: Download Z3
        run: |
          wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.17/z3-4.8.17-x64-glibc-2.31.zip
          unzip z3-4.8.17-x64-glibc-2.31.zip

      - name: Install Capstone
        run: |
          wget https://github.com/aquynh/capstone/archive/4.0.2.tar.gz
          tar -xf ./4.0.2.tar.gz
          cd ./capstone-4.0.2
          bash ./make.sh
          sudo make install
          cd ../

      - name: Build Triton Python package
        run: python${{ matrix.python-version }} -m build --wheel
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          PYTHON_LIBRARIES: ${{ env.pythonLocation }}/lib/libpython${{ matrix.python-version }}.so
          PYTHON_LIBRARY: ${{ env.pythonLocation }}/lib/libpython${{ matrix.python-version }}.so
          PYTHON_INCLUDE_DIRS: ${{ env.pythonLocation }}/include/python${{ matrix.python-version }}
          Z3_INCLUDE_DIRS: ${{ github.workspace }}/z3-4.8.17-x64-glibc-2.31/include
          Z3_LIBRARIES: ${{ github.workspace }}/z3-4.8.17-x64-glibc-2.31/bin/libz3.a
          BITWUZLA_INTERFACE: On
          BITWUZLA_INCLUDE_DIRS: ${{ github.workspace }}/bitwuzla/install/include
          BITWUZLA_LIBRARIES: ${{ github.workspace }}/bitwuzla/install/lib/libbitwuzla.a

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: triton_library-1.0.0-${{ matrix.pycp }}-linux_x86_64.whl
          path: ${{ github.workspace }}/dist/triton_library-1.0.0-${{ matrix.pycp }}-linux_x86_64.whl
          if-no-files-found: warn

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        include:
          - python-version: 3.8
            pycp: cp38-cp38
            pylib: python38.lib
          - python-version: 3.9
            pycp: cp39-cp39
            pylib: python39.lib
          - python-version: 3.10
            pycp: cp310-cp310
            pylib: python310.lib
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get CMake
        uses: lukka/get-cmake@latest

      - name: Setup Windows dev environment
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: 'x64'

      - name: Upgrade pip version
        run: |
          python -m pip install -U pip

      - name: Install build package
        run: |
          python -m pip install build

      - name: Download and build Z3
        run: |
          wget -UseBasicParsing https://github.com/Z3Prover/z3/releases/download/z3-4.8.17/z3-4.8.17-x64-win.zip -O z3-4.8.17-x64-win.zip
          tar -xf z3-4.8.17-x64-win.zip
          wget -UseBasicParsing https://github.com/Z3Prover/z3/archive/refs/tags/z3-4.8.17.zip -O z3-4.8.17.zip
          tar -xf z3-4.8.17.zip
          cd z3-z3-4.8.17
          python scripts\mk_make.py --x64 --staticlib
          cd build
          nmake
        shell: powershell

      - name: Download Capstone
        run: |
          wget -UseBasicParsing https://github.com/capstone-engine/capstone/releases/download/4.0.2/capstone-4.0.2-win64.zip -O capstone-4.0.2-win64.zip
          tar -xf capstone-4.0.2-win64.zip
        shell: powershell

      - name: Build Triton Python package
        run: python -m build --wheel
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          PYTHON_INCLUDE_DIRS: ${{ env.pythonLocation }}\include
          PYTHON_LIBRARIES: ${{ env.pythonLocation }}\libs\${{ matrix.pylib }}
          PYTHON_LIBRARY: ${{ env.pythonLocation }}\libs\${{ matrix.pylib }}
          Z3_INCLUDE_DIRS: ${{ github.workspace }}\z3-4.8.17-x64-win\include
          Z3_LIBRARIES: ${{ github.workspace }}\z3-z3-4.8.17\build\libz3-static.lib
          CAPSTONE_INCLUDE_DIRS: ${{ github.workspace }}\capstone-4.0.2-win64\include
          CAPSTONE_LIBRARIES: ${{ github.workspace }}\capstone-4.0.2-win64\capstone.lib

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: triton_library-1.0.0-${{ matrix.pycp }}-win_amd64.whl
          path: ${{ github.workspace }}/dist/triton_library-1.0.0-${{ matrix.pycp }}-win_amd64.whl
          if-no-files-found: warn

  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        include:
          - python-version: 3.8
            pycp: cp38-cp38
          - python-version: 3.9
            pycp: cp39-cp39
          - python-version: 3.10
            pycp: cp310-cp310
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip version
        run: |
          sudo python -m pip install -U pip

      - name: Install build package
        run: |
          sudo python -m pip install build

      - name: Download Z3
        run: |
          wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.17/z3-4.8.17-x64-osx-10.16.zip
          unzip z3-4.8.17-x64-osx-10.16.zip

      - name: Install Capstone
        run: |
          wget https://github.com/aquynh/capstone/archive/4.0.2.tar.gz
          tar -xf ./4.0.2.tar.gz
          cd ./capstone-4.0.2
          bash ./make.sh
          sudo make install
          cd ../

      - name: Build Triton Python package
        run: python -m build --wheel
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          PYTHON_LIBRARIES: ${{ env.pythonLocation }}/lib/libpython${{ matrix.python-version }}.dylib
          PYTHON_LIBRARY: ${{ env.pythonLocation }}/lib/libpython${{ matrix.python-version }}.dylib
          PYTHON_INCLUDE_DIRS: ${{ env.pythonLocation }}/include/python${{ matrix.python-version }}
          Z3_INCLUDE_DIRS: ${{ github.workspace }}/z3-4.8.17-x64-osx-10.16/include
          Z3_LIBRARIES: ${{ github.workspace }}/z3-4.8.17-x64-osx-10.16/bin/libz3.a

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: triton_library-1.0.0-${{ matrix.pycp }}-macosx_11_0_universal2.whl
          path: ${{ github.workspace }}/dist/triton_library-1.0.0-${{ matrix.pycp }}-macosx_11_0_universal2.whl
          if-no-files-found: warn
